@mixin flex-row($justify-content) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
}
@mixin basic-hover {
    cursor: pointer;
    transition: all 200ms;
}
@mixin basic-overlay {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    transition: all 200ms;
}
@mixin basic-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}