$header_color: #111116;
$main_color: #252530;
$main_color_2: #1d1d27;
$alt_color_1: #eeff88;
$alt_color2: #f32f15;
$alt_color3:  #a2a2ad;
$font_color_1: #ebebeb;

$font_stack: 'Helvetica-Neue', helvetica, arial, sans-serif;
$header_font_stack: 'Mulish', serif;