$header_color: #111116;
$main_color: #252530;
$alt_color_1: #eeff88;
$alt_color2: #f32f15;
$font_color_1: #ebebeb;

$font_stack: 'Helvetica-Neue', helvetica, arial, sans-serif;
$header_font_stack: 'Mulish', serif;