@import "../abstracts/mixins";
@import "../abstracts/variables";

header {
    display: flex;
    align-items: center;
    position: sticky;
    height: 12vh;
    left: 0px;
    top: 0px;
    background-color: $header_color;
    box-shadow: 0 0 5px 5px black;
    z-index: 1;
}
.header-wrapper {
    height: 80%;
    width: 100%;
    @include flex-row(space-around);
}
.header-wrapper__nav {
    @include flex-row(space-between);
    align-items: center;
}
.header-wrapper__nav__nav-element {
    width: 8vw;
    height: 50%;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    color: inherit;
    background-color: $main_color;
    box-shadow: 0 0 2px 2px $main_color;
    transition: all 200ms;
}
.header-wrapper__nav__nav-element:hover {
    @include basic-hover;
    box-shadow: 0 0 2px 2px $alt_color_1;
}
.header-wrapper__header:hover {
    @include basic-hover;
    transform: scale(1.02);
}
