@import "../abstracts/mixins" ;
@import "../abstracts/variables";

main {
    margin-top: 20px;
}
main h1 {
    text-align: center;
}

//Products page
.all-products__filter-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.all-products__filter-actions__text {
    @include input(20vw, 1.5em)
}
.all-products__filter-actions__sort-direction {
    @include flex-row(center);
}
.sort-direction__radio-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card {
    width: 20vw;
    height: 20vh;
    @include basic-bg-img;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 200ms;
}
.product-card:hover {
    @include basic-hover;
    transform: scale(1.1);
}
.product-card:hover .product-card__overlay {
    background-color: transparent;
    transition: all 200ms;
}
.product-card__overlay {
    @include basic-overlay;
}
.product-card h4 {
    position: absolute;
    margin-left: 2vw;
}
.product-card p {
    position: absolute;
    margin-left: 3vw;
    margin-top: 16vh;
}
.main__products-wrapper {
    @include flex-row(space-evenly);
    flex-wrap: wrap;
    row-gap: 20px;
}
//single product page
.single-product h2 {
    text-align: center;
}
.single-product__wrapper {
    @include flex-row(space-evenly);
    column-gap: 50px;
}

//categories page
.main__categories-wrapper {
    @include flex-row(space-evenly);
    flex-wrap: wrap;
    row-gap: 50px
}
.category-card {
    width: 35vw;
    height: 50vh;
    @include basic-bg-img;
    border-radius: 50px;
    transition: all 200ms;
}
.category-card__overlay {
    @include basic-overlay;
}
.category-card:hover {
    @include basic-hover;
    transform: scale(1.1);
    transition: all 200ms;
} 
.category-card:hover .category-card__overlay{
    background-color: transparent;
    transition: all 200ms;
} 
.category-card h2 {
    position: absolute;
    margin-left: 5vw;
    margin-top: 2vh;
}
//home page
.home-page__content-wrapper {
    padding-top: 5vh;
    @include flex-row(space-evenly);

}
.home-page p {
    text-align: center;
}
//login page
.login-p {
    text-align: center;
}
.login-sign-up {
    color: $alt_color_1;
}
.login-sign-up:hover {
    @include basic-hover;
    color: blue;
}
.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}
.login-form input {
    @include input(15vw, 2em);
}
.login-form button {
    margin: 0 auto;
}
//checkout page
.checkout {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.checkout__products {
    width: 90vw;
    border-collapse: collapse;
    margin: auto;
}
.checkout__products tr {
    border-bottom: 1px solid black;
    height: 3em;
}
tr:nth-child(even) {
    background-color: $main_color_2;
}
.checkout__products th, td {
    text-align: left;
}
.checkout__products td {
    padding-left: 10px;
}
//create/update product form
.product-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.product-form label {
    display: block;
    margin: auto;
}
.product-form ul {
    display: block;
    margin: auto;
}
.product-form input {
    @include input(25vw, 2em);
    margin-bottom: 5px;
    text-align: left;
    font-weight: normal
}
.product-form textarea {
    @include input(25vw, 15vh);
    text-align: left;
    font-weight: normal;
}
.product-form select {
    @include input(25vw, 2em);
}