header {
  display: flex;
  align-items: center;
  position: sticky;
  height: 12vh;
  left: 0px;
  top: 0px;
  background-color: #111116;
  box-shadow: 0 0 5px 5px black;
  z-index: 1;
}

.header-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-wrapper__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper__nav__nav-element {
  width: 8vw;
  height: 50%;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  color: inherit;
  background-color: #1a1a22;
  box-shadow: 0 0 2px 2px #1a1a22;
  transition: all 200ms;
}

.header-wrapper__nav__nav-element:hover {
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0 0 2px 2px #88ff8e;
}

.header-wrapper__header:hover {
  cursor: pointer;
  transition: all 200ms;
  transform: scale(1.02);
}

body {
  background-color: #1a1a22 !important;
  font-family: "Helvetica-Neue", helvetica, arial, sans-serif;
  color: #ebebeb;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

:root {
  transition: 500ms all ease-in-out;
}

main {
  margin-top: 20px;
}

main h1 {
  text-align: center;
}

.root-bg {
  position: sticky;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10vh;
  height: 100vh;
  width: 99vw;
  opacity: 0.1;
  margin-bottom: 5vh;
  margin-top: -5vh;
  box-shadow: 0 0 5px 5px transparent;
}

.root-overlay {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  transition: all 200ms;
}

.all-products__filter-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.all-products__filter-actions__text {
  background-color: #1a1a22;
  color: #ebebeb;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 20vw;
  height: 1.5em;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px #ebebeb solid;
  transition: all 200ms ease-in-out 200ms;
}

.all-products__filter-actions__sort-direction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-direction__radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
}

.product-card {
  width: 20vw;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 200ms;
}

.product-card:hover {
  cursor: pointer;
  transition: all 200ms;
  transform: scale(1.1);
}

.product-card:hover .product-card__overlay {
  background-color: transparent;
  transition: all 200ms;
}

.product-card__overlay {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  transition: all 200ms;
}

.product-card h4 {
  position: absolute;
  margin-left: 2vw;
}

.product-card p {
  position: absolute;
  margin-left: 3vw;
  margin-top: 16vh;
}

.main__products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}

.single-product h2 {
  text-align: center;
}

.single-product__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 50px;
  min-height: 100vh;
}

.main__categories-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  min-height: 100vh;
}

.category-card {
  width: 35vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  transition: all 200ms;
}

.category-card__overlay {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  transition: all 200ms;
}

.category-card:hover {
  cursor: pointer;
  transition: all 200ms;
  transform: scale(1.1);
  transition: all 200ms;
}

.category-card:hover .category-card__overlay {
  background-color: transparent;
  transition: all 200ms;
}

.category-card h2 {
  position: absolute;
  margin-left: 5vw;
  margin-top: 2vh;
}

.home-page__content-wrapper {
  min-height: 100vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-page p {
  text-align: center;
}

.login-p {
  text-align: center;
}

.login-sign-up {
  color: #88ff8e;
}

.login-sign-up:hover {
  cursor: pointer;
  transition: all 200ms;
  color: blue;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}

.login-form input {
  background-color: #1a1a22;
  color: #ebebeb;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 15vw;
  height: 2em;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px #ebebeb solid;
  transition: all 200ms ease-in-out 200ms;
}

.login-form button {
  margin: 0 auto;
}

.checkout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.checkout__products {
  width: 90vw;
  border-collapse: collapse;
  margin: auto;
}

.checkout__products tr {
  border-bottom: 1px solid black;
  height: 3em;
}

tr:nth-child(even) {
  background-color: #1d1d27;
}

.checkout__products th, td {
  text-align: left;
}

.checkout__products td {
  padding-left: 10px;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.product-form button {
  margin: auto;
}

.product-form label {
  display: block;
  margin: auto;
}

.product-form ul {
  display: block;
  margin: auto;
}

.product-form input {
  background-color: #1a1a22;
  color: #ebebeb;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 25vw;
  height: 2em;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px #ebebeb solid;
  transition: all 200ms ease-in-out 200ms;
  margin-bottom: 5px;
  text-align: left;
  font-weight: normal;
}

.product-form textarea {
  background-color: #1a1a22;
  color: #ebebeb;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 25vw;
  height: 15vh;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px #ebebeb solid;
  transition: all 200ms ease-in-out 200ms;
  text-align: left;
  font-weight: normal;
}

.product-form select {
  background-color: #1a1a22;
  color: #ebebeb;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 25vw;
  height: 2em;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px #ebebeb solid;
  transition: all 200ms ease-in-out 200ms;
}

.profile-page {
  position: absolute;
  width: 80vw;
  top: 15vh;
  left: calc(50% - 40vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn-profile-page {
  margin: auto;
}

.profile-page__avatar {
  border-radius: 2em;
  margin: 0 auto;
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  margin-top: 5vh;
}

.div-bg-img {
  transition: 500ms all ease-in-out;
}

.breadcrumb-wrap {
  display: inline-block;
}

.breadcrumbs {
  height: 1em;
  padding-left: 10vw;
  top: 15vh;
  position: absolute;
}

.breadcrumb {
  text-decoration: none;
  color: inherit;
}

.breadcrumb:hover {
  color: #88ff8e;
}

.button {
  border-radius: 5px;
  height: 3em;
  width: 7em;
  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  box-shadow: 0 0 2px 2px black;
}

.small {
  height: 1.5em;
  font-size: small;
}

.wide {
  width: fit-content;
}

.basic {
  background-color: #88ff8e;
}

.remove {
  background-color: #f32f15;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 30vw;
}

.slideshow__slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideshow__slider__slide {
  display: inline-block;
  height: 40vh;
  width: 100%;
  border-radius: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slideshow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notification-bar {
  position: absolute;
  min-width: 15vw;
  min-height: 5vh;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 2px 2px #1a1a22;
  background-color: #a2a2ad;
  color: #1a1a22;
  z-index: 2;
}

.notification-bar p {
  text-align: center;
  font-size: 0.9em;
}

.closed {
  opacity: 0;
  transform: translate(42vw, -10vh);
  transition: all 400ms ease-in;
}

.open {
  transform: translate(42vw, 12vh);
  transition: all 400ms ease-in;
}

/*# sourceMappingURL=styles.css.map */
