@import "../abstracts/mixins";
@import "../abstracts/variables";

//Button
.button {
    @include button;
    @include basic-hover;
}
.button:hover {
    box-shadow: 0 0 2px 2px black;
}
.small {
    height: 1.5em;
    font-size: small;
}
.basic {
    background-color: $alt_color_1;
}
.remove {
    background-color: $alt_color2;
}
