@import "../abstracts/mixins";
@import "../abstracts/variables";

//Button
.button {
    @include button;
    @include basic-hover;
}
.button:hover {
    box-shadow: 0 0 2px 2px black;
}
.small {
    height: 1.5em;
    font-size: small;
}
.basic {
    background-color: $alt_color_1;
}
.remove {
    background-color: $alt_color2;
}

//slideshow
.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 30vw;
}
.slideshow__slider {
    white-space: nowrap;
    transition: ease 1000ms;
}
.slideshow__slider__slide {
    display: inline-block;
    height: 40vh;
    width: 100%;
    border-radius: 40px;
    @include basic-bg-img;
}
.slideshow-buttons {
    @include flex-row(center);
}
//notification bar
.notification-bar {
    position: absolute;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px $main_color;
    background-color: $alt_color3;
    color: $main_color;
    z-index: 2;
}
.notification-bar p {
    text-align: center;
    font-size: 0.9em;
}
.closed {
    opacity: 0;
}
.open {
    animation: 3s open-notification;
}
@keyframes open-notification {
    0% {
        transform: translate(42vw, -10vh);
    } 25% {
        transform: translate(42vw, 12vh);
    } 75% {
        transform: translate(42vw, 12vh);
    } 100% {
        transform: translate(42vw, -10vh);
    }
}



