@import "../abstracts/mixins";
@import "../abstracts/variables";

//theme switch transition 
.div-bg-img {
    transition: 500ms all ease-in-out;
}
//remove filter button
.rem-filter {
    margin: auto;
}
//breadcrumbs
.breadcrumb-wrap {
    display: inline-block;
}
.breadcrumbs {
    height: 1em;
    padding-left: 10vw;
    top: 15vh;
    position: absolute;
}
.breadcrumb {
    text-decoration: none;
    color: inherit;
}
.breadcrumb:hover {
    color: $alt_color_1
}
//Button
.button {
    @include button;
    @include basic-hover;
}
.button:hover {
    box-shadow: 0 0 2px 2px black;
}
.small {
    height: 1.5em;
    font-size: small;
}
.wide {
    width: fit-content; 
}
.basic {
    background-color: $alt_color_1;
}
.remove {
    background-color: $alt_color2;
}

//slideshow
.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 30vw;
}
.slideshow__slider {
    white-space: nowrap;
    transition: ease 1000ms;
}
.slideshow__slider__slide {
    display: inline-block;
    height: 40vh;
    width: 100%;
    border-radius: 40px;
    @include basic-bg-img;
}
.slideshow-buttons {
    @include flex-row(center);
}
//notification bar
.notification-bar {
    position: absolute;
    min-width: 15vw;
    min-height: 5vh;
    height: fit-content; 
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 2px 2px $main_color;
    background-color: $alt_color3;
    color: $main_color;
    z-index: 2;
}
.notification-bar p {
    text-align: center;
    font-size: 0.9em;
}
.closed {
    opacity: 0;
    transform: translate(42vw, -10vh);
    transition: all 400ms ease-in;
}
.open {
    transform: translate(42vw, 12vh);
    transition: all 400ms ease-in;
}
